@font-face {
    font-family: Highway;
    src: url('hwygoth-webfont.ttf');
}
@font-face {
    font-family: JUA;
    src: url('BMJUA_ttf.ttf');
}
@font-face {
    font-family: DOHy;
    src: url('BMDOHYEON_ttf.ttf');
}
@font-face {
    font-family: Audiowide;
    src: url('Audiowide-Regular.ttf');
}

@keyframes hscale {
    0%{width: 0%;}
    100%{width: 90%;}
}

@keyframes texttrans {
    0%{color: rgba(255,255,255,0);}
    100%{color: rgba(255,255,255,1);}
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }
  
::-webkit-scrollbar-thumb {
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(0,0,0) 45%, rgb(0, 89, 255) 50%, rgb(16, 0, 75) 75%, rgb(141, 79, 255)100%);
}

img.Banner {
    display: block;
    border: 0;
    outline: 0;
    margin: -1%;
    height: 130vh;
}

div.Header {
    width: 0;
    height: 9vh;
    background-color: rgb(0, 0, 0);
    top: -1vh;
    margin: 0 4.5%;
    animation-name: hscale;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
    position: fixed;

    border: 5px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(#000, #000), 
    linear-gradient(to left, rgb(36, 36, 36) 0%,rgb(66, 66, 66) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

h1.Header {
    color: rgba(0,0,0,0);
    font-family: Audiowide;
    text-align: center;
    font-size: 5vh;
    animation-name: texttrans;
    animation-duration: 0.4s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin: 1vh;
}

div.Buttons {
    display: block;
    top: 10vh;
    position: fixed;
}

div.Buttons * {
    display: block;
    width: 4vh;
    height: 4vh;
    border-radius: 5px;
}

h2.Text1 {
    text-align: center;
    display: block;
    margin: -50vh 0 0 0; 
    color: #ffffff;
    width: 100%;
    font-family: Audiowide;
    height: 7vh;
}

div.Main {
    margin: 50vh auto 0 0;
    display: block;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 115, 236) 0%, rgb(255, 102, 0) 100%);
    border-image-slice: 1;
    background-color: #00000099;
    width: 100%;
}

div.Main * {
    margin: 4vh 4vh;
    font-size: 3vh;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;
}

p.Heading {
    font-family: DOHy;
    color: #ffffff;
    font-size: 4vh;
    width: 62%;
}

p.Heading2 {
    font-family: Highway;
    color: #ffffff;
    font-size: 3.5vh;
    width: 62%;
}

p.Content {
    color: white;
    font-size: 2.5vh;
    font-family: JUA;
    width: 62%;
}

div.Footer {
    background-color: rgba(0,0,0,0.7);
    border-radius: 3vh;
    display: block;
    width: 100%;
    height: auto;
    margin: auto -4vh;
}

p.DescHead {
    display: block;
    text-align: left;
    font-family: Highway;
    color: white;
    font-size: 5vh;
    margin: 4vh 4vh;
}

p.Desc {
    text-align: center;
    font-family: Highway;
    color: white;
    font-size: 2.5vh;
}

p.Foot {
    color: white;
    font-family: JUA;
    margin: 5vh;
    font-size: 2vh;
}

div.DiscordApis {
    float: right;
    width: 23vh;
}

a.discordapi {
    font-family: Audiowide;
    color: white;
    font-size: 2vh;
    float: right;
    height: 40vh;
    max-width: 300px;
    margin: 0 0 7vh 0;
    text-align: center;
}

a.ToLang {
    background-color: black;
    border-radius: 3vh;
    float: right;
    width: 10vh;
    height: 3vh;
    z-index: 10;
    margin: 45vh 0 0 0;
    color: white;
    text-decoration: none;
    font-family: DOHy;
    text-align: center;

    border: 5px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(#000, #000), 
    linear-gradient(to left, rgb(36, 36, 36) 0%,rgb(66, 66, 66) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

::placeholder{
    font-family: DOHy;
}

div.Sign--Input {
    width: 100%;
    height: 100vh;
    font-family: JUA;
    color: white;
}

div.Sign--Input * {
    margin: 0.6vh 3vh;
    width: 35%;
    border-radius: 1.5vh;
    height: 4vh;
    font-size: 2.5vh;
}

p.Description {
    color: white;
    font-family: Highway;
    font-size: 1.5vh;
}

input.Sign--Input_N {
    font-family: DOHy;
}

img.Sign--Prev_PFP {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    /* float: left; */ 
}

input.Sign--Input_PFP {
    width: 12vh;
    height: 3.9vh;
    font-family: JUA;
    float: left;
    text-align: center;
    max-width: 42%
}

p.PFP_Name {
    width: 20vh;
    height: 5vh;
    font-family: JUA;
    margin: auto;
    text-align: left;
    color: white;
    float: right;
}

div.Required {
    color: red;
    font-family: JUA;
    margin: 1.5vh 3vh -3vh 2vh;
}

#WDjiodjcosdjo {
    font-size: 1.5vh;
    text-align: left;
    width: 30vh;
    margin-top: -22vh;
}

button.Sign--Input_PFP {
    width: 12vh;
    height: 4vh;
    font-family: JUA;
    float: right;
    text-align: center;
    max-width: 42%
}

div.PFP {
    margin-top: 5vh;
    width: 80%;
    max-width: 50vh;
}

div.Warn {
    font-family: JUA;
    color: red;
}

div.Verify {
    width: 90%;
    margin: 0 0.5%;
}

div.Verify *{
    max-width: 300px;
    float: left;
}

input.VFCTI {
    display: block;
    font-family: DOHy;
    font-size: 60%;
    width: 45%;
    height: 5vh;
}

#Verification {
    visibility: hidden;
    width: 44%;
    height: 4.5vh;
}